# Системные файлы
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.xcuserdatad
*.moved-aside
*.swp

# SwiftPM
.build/
Packages/

# Лог файлы
*.log

# Личные конфигурации и временные файлы
*.env
.env
Secrets.plist
*.xcconfig

# Файл с токеном
Supabase.swift