<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>Comfortaa-Bold.ttf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>Comfortaa-Light.ttf</string>
	</array>
    <key>NSCameraUsageDescription</key>
    <string>Приложению нужен доступ к камере</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Приложению нужен доступ к фото</string>
</dict>
</plist>
